.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-transform: uppercase;
  margin-top: 10px;

  .js-fav-list-container {
    text-align: center;
    .reset-favorites {
      margin-top: 25px;
      border: 2px solid #3abef2;
      border-radius: 3px;
      height: 25px;
      cursor: pointer;
    }
  }

  h2 {
    text-align: center;
  }

  .colors {
    background-color: #000;
    color: white;
    width: 300px;
    padding: 15px 0px 35px 0;
    margin-top: 30px;
    position: relative;
    border: none;
    border-radius: 4px;

    .series {
      text-align: center;
    }

    .title {
      margin-bottom: 10px;
    }

    .close-favorite-icon {
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 5px;
      cursor: pointer;
      background: white;
      color: black;
      border-radius: 50%;
      padding: 3px 6px;
      font-size: 14px;
    }
  }

  .favorite {
    background-color: #fff;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
